
@keyframes move_wave {
    0% {
        transform: translateX(0) 
    }
    50% {
        transform: translateX(-25%)  
    }
    100% {
        transform: translateX(-50%) 
    }
  }
  .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top,#24B2F1 20%,#040474   80%);
    background-color: $light-blue;
    will-change: transform;
  }
  .bgTop {
    z-index: 15;
    opacity: 0.5;
  }
  .bgMiddle {
    z-index: 10;
    opacity: 0.75;
  }
  .bgBottom {
    z-index: 5;
  }
  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }
  .waveTop {
    background-size: 50% 100px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
  }
  .waveAnimation .waveTop {
    //will-change: transform;
  //animation: move-wave 3s;
  //  -webkit-animation: move-wave 3s;
  //  -webkit-animation-delay: 1s;
  // animation-delay: 1s ;
  }
  .waveMiddle {
    background-size: 50% 120px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
  }
  .waveAnimation .waveMiddle {
    //will-change: transform;
   // animation: move_wave 10s  infinite linear;
  }
  .waveBottom {
    background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
    //will-change: transform;
   // animation: move_wave 15s  infinite linear;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
  }