.projects{
    padding-top: 40px;
    h1{
        @include title;
        margin-top:150px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;


        &-technologies{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            opacity: 0;
            transition: .6s;
            
            @media (max-width:767px){
                opacity: 1;
            }

            img{
                display: block;
                width: 80px;

                @media (max-width:767px) {
                    width: 60px;
                }
            }
        }

        &-item:hover &-technologies{
            opacity: 1;
        }
        

        &-item{
            background-color: black;
            min-height: 400px;
            flex-grow: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            flex-basis: 33%;
            text-align: center;
            position: relative;
            overflow: hidden;

            h2{
                position: absolute;
                top:0;
                transform: translateY(-100%);
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
            }
            h3{
                height: 50%;
                position: absolute;
                bottom:0;
                transform: translateY(100%);
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
            }

            &:hover{
                h2{
                    transform: translateY(0);
                }
                h3{
                    transform: translateY(0);
                }
            }

            @media (max-width: 767px) { 

                margin: 10px 0;
                &-technologies{
                    img{
                        width: 30px;
                    }
                }
        
                h2{
                    transform: translateY(0);
                    font-size: 1.8rem;
                }
                h3{
                    font-size: 1.2rem;
                    padding: 0 10px;
                    transform: translateY(0);
                }
            }
        }

        @media (max-width: 767px){
            flex-direction: column;

            &-item{
                flex-basis: 100%;
                //min-height: 600px;
            }
        }
    }
}